<div class="container top-buffer">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <span id="sourceSelector"></span>
            <div class="container" ng-if="selectedSection == 1">
                <div class="col-xs-12">
                    <h3 class="enrollment-header">Begin Your Enrollment</h3>
                    <p style="margin-bottom: 0px;color:rgb(233,42,29)">Select your country of residence</p>
                    <input style="margin-bottom: 0px !important;" class="form-control" type="text" autocomplete="false" ng-model="input" placeholder="Select Country" typeahead="countries" typeahead-callback="callback" />
                    <div ng-if="!input" style="background: rgb(233,42,29); height: 40px; margin-top: 0px; padding: 10px;">
                        <p style="color:white; font-style: italic; margin:0px !important; font-size: 12px;">Country is required. Please input your country</p>
                    </div>
                    <!-- <p>Selected country is : {{input}}</p> -->
                </div>
                <div class="first-section-header" ng-if="!input">
                    <div class="col-xs-12">
                        <br>
                        <p style="font-size: 20px; font-weight: 300" align="center">OR</p>
                        <hr>
                    </div>
                    <div class="col-xs-12" style="padding: 0px;">
                        <h3 align="center" class="enrollment-header">Pre-Enroll Today</h3>
                        <p align="center" style="margin-bottom: 0px;color:grey">Select your country of residence</p>
                        <div class="col-xs-4" style="padding: 0px;">
                            <div align="center"><img src="images/germany.png"></div>
                            <p align="center" class="hidden-xs">Germany</p>
                            <p align="center" style="margin-left: 34px;" class="visible-xs">Germany</p>
                        </div>
                        <div class="col-xs-4" style="padding: 0px;">
                            <div align="center"><img src="images/austria.png"></div>
                            <p align="center" class="hidden-xs">Austria</p>
                            <p align="center" style="margin-left: 34px;" class="visible-xs">Austria</p>
                        </div>
                        <div class="col-xs-4" style="padding: 0px;">
                            <div align="center"><img src="images/singapore.png"></div>
                            <p align="center" class="hidden-xs">Singapore</p>
                            <p align="center" style="margin-left: 34px;" class="visible-xs">Singapore</p>
                        </div>
                        <div class="col-xs-12">
                            <p style="font-size: 20px; font-weight: 300" align="center">OR</p>
                            <hr>
                        </div>
                        <div style="margin-top: 200px;" align="center">
                            <h4 class="enrollment-header">Already have a Nerium account? Log-In Here</h4></div>
                    </div>
                </div>
                <div class="col-xs-12" ng-if="input">
                    <br>
                    <span>Family Name*</span>
                    <input style="margin-bottom: 0px !important;" class="form-control" type="text" autocomplete="false" placeholder="Select Country" />
                    <br>
                    <span>Given Name*</span>
                    <input style="margin-bottom: 0px !important;" class="form-control" type="text" autocomplete="false" placeholder="Select Country" />
                    <br>
                    <span>Email Address</span>
                    <input style="margin-bottom: 0px !important;" class="form-control" type="text" autocomplete="false" placeholder="Select Country" />
                    <br>
                    <span>Confirm Email Address</span>
                    <input style="margin-bottom: 0px !important;" class="form-control" type="text" autocomplete="false" placeholder="Select Country" />
                    <br>
                    <button type="button" class="btn btn-info btn-lg btn-block" ng-click="goto(2)">SUBMIT</button>
                </div>
            </div>
            <div class="container" ng-if="selectedSection == 2">
                <div class="row" style="margin-top: 20px;">
                    <div class="col-xs-1">
                    </div>
                    <div data-toggle="tab" href="#one" ng-click="selectTab('one')" class="col-xs-2 pills-count" style="height: 30px; cursor: pointer; background: rgb(124,189,49); margin:0px; color:white; font-weight: 300; font-size: 14px;">
                        <span><span class="numberCircle">1</span> <span class="hidden-xs">Pick Your pack</span></span>
                    </div>
                    <div data-toggle="tab" href="#two" ng-click="selectTab('two')" class="col-xs-2 pills-count" style="height: 30px; cursor: pointer; background: rgb(124,189,49); margin:0px; color:white; font-weight: 300; font-size: 14px;">
                        <span><span class="numberCircle">2</span> <span class="hidden-xs">Action Pack</span></span>
                    </div>
                    <div data-toggle="tab" href="#three" ng-click="selectTab('three')" class="col-xs-2 pills-count" style="height: 30px; cursor: pointer; background: rgb(124,189,49); margin05px; color:white; font-weight: 300; font-size: 14px;">
                        <span><span class="numberCircle">3</span> <span class="hidden-xs">Auto Delivery</span></span>
                    </div>
                    <div data-toggle="tab" href="#four" ng-click="selectTab('four')" class="col-xs-2 pills-count" style="height: 30px; cursor: pointer; background: rgb(124,189,49); margin:0px; color:white; font-weight: 300; font-size: 14px;">
                        <span><span class="numberCircle">4</span> <span class="hidden-xs">Summary</span></span>
                    </div>
                    <div data-toggle="tab" href="#five" ng-click="selectTab('five')" class="col-xs-2 pills-count" style="height: 30px; cursor: pointer; background: rgb(124,189,49); margin:0px; color:white; font-weight: 300; font-size: 14px;">
                        <span><span class="numberCircle">5</span> <span class="hidden-xs">Checkout</span></span>
                    </div>
                    <div class="col-xs-1">
                    </div>
                </div>
                <div class="row">
                    <div class="tab content" style="padding:0px;">
                        <div id="one" class="tab-pane fade in active" ng-if="selectedTab == 'one' ">
                            <div class="col-xs-1">
                            </div>
                            <div class="col-xs-10" style="padding: 0px;">
                                <div class="col-xs-12" style="background: rgb(25,50,61); height: 70px; padding: 10px; margin-top: 30px; margin-left: 0x; margin-right: 0px;">
                                    <h1 class="enrollment-header" style="font-weight: 300; color: white; font-size: 24px;">Choose Your Pack &nbsp;&nbsp;<small class="hidden-xs" style="color:white; font-weight: 300">Choose between the the two options below to start your Nerium Business</small></h1>
                                </div>
                                <div class="col-xs-12" style="padding: 0px;">
                                    <div class="col-xs-12 card" style="height: 250px; background: rgba(124,189,49,0.8);">
                                        <h1 align="center" style="font-weight: 300; color:white;">ELITE BUSINESS BUILDER PACK</h1>
                                        <h3 align="center" style="color: white">HK $ 19,250.00</h3>
                                        <div align="center">
                                            <button data-toggle="tab" href="#two" ng-click="selectTab('two')" style="background:rgb(124,189,49); color:white; padding: 12px; " type="button" class="btn btn-success">ADD TO CART</button>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 card" style="height: 250px; background: rgba(124,189,49,0.8);">
                                        <h1 align="center" style="font-weight: 300; color:white;">OTHER PACK</h1>
                                        <h3 align="center" style="color: white">HK $ 12,120.00</h3>
                                        <div align="center">
                                            <button data-toggle="tab" href="#two" ng-click="selectTab('two')" style="background:rgb(124,189,49); color:white; padding: 12px; " type="button" class="btn btn-success">ADD TO CART</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="two" class="tab-pane fade" ng-if="selectedTab == 'two' ">
                            <div class="col-xs-1">
                            </div>
                            <div class="col-xs-10" style="padding: 0px;">
                                <div class="col-xs-12" style="background: rgb(25,50,61); height: 70px; padding: 10px; margin-top: 30px; margin-left: 0x; margin-right: 0px;">
                                    <h1 class="enrollment-header" style="font-weight: 300; color: white; font-size: 24px;">Choose Your Pack  <small class="hidden-xs" style="color:white; font-weight: 300"> Each pack is 41% or more off retail price!</small></h1>
                                </div>
                                <div class="col-xs-12" style="padding: 0px;">
                                    <div class="col-xs-12 col-md-8" style="padding: 0px;">
                                        <div class="col-xs-12 col-md-4 card">
                                            <img height="120" ng-src="https://www.nerium.com/-/media/Website/Images/products-5.ashx?h=306&la=en&w=424">
                                            <p class="cost">HK$ 125</p>
                                            <p class="name">Product 1</p>
                                            <div align="center">
                                                <button style="background:rgb(124,189,49); color:white; padding: 12px; " type="button" class="btn btn-success">ADD TO CART</button>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4 card">
                                            <img height="120" ng-src="https://www.nerium.com/-/media/Website/Images/products-5.ashx?h=306&la=en&w=424">
                                            <p class="cost">HK$ 125</p>
                                            <p class="name">Product 1</p>
                                            <div align="center">
                                                <button style="background:rgb(124,189,49); color:white; padding: 12px; " type="button" class="btn btn-success">ADD TO CART</button>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4 card">
                                            <img height="120" ng-src="https://www.nerium.com/-/media/Website/Images/products-5.ashx?h=306&la=en&w=424">
                                            <p class="cost">HK$ 125</p>
                                            <p class="name">Product 1</p>
                                            <div align="center">
                                                <button style="background:rgb(124,189,49); color:white; padding: 12px; " type="button" class="btn btn-success">ADD TO CART</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-4" style="padding: 0px;">
                                        <div class="filter">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Product</th>
                                                        <th>Quantity</th>
                                                        <th>Price</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="info">
                                                        <td>ELite Business Builder Pack</td>
                                                        <td>1</td>
                                                        <td>HK $ 19,250.00</td>
                                                    </tr>
                                                    <hr>
                                                    <tr class="active">
                                                        <td>SUBTOTAL(1 ITEMS)</td>
                                                        <td></td>
                                                        <td>HK $ 19,250.00</td>
                                                    </tr>
                                                    <tr class="active">
                                                        <td></td>
                                                        <td>
                                                            <button data-toggle="tab" href="#one" ng-click="selectTab('one')" style="background:rgb(124,189,49); color:white; padding: 5px; " type="button" class="btn btn-success">BACK</button>
                                                        </td>
                                                        <td>
                                                            <butto data-toggle="tab" href="#three" ng-click="selectTab('three')" n style="background:rgb(124,189,49); color:white; padding: 5px; " type="button" class="btn btn-success">CONTINUE</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="three" class="tab-pane fade" ng-if="selectedTab == 'three' ">
                            <div class="col-xs-1">
                            </div>
                            <div class="col-xs-10" style="padding: 0px;">
                                <div class="col-xs-12" style="background: rgb(25,50,61); height: 70px; padding: 10px; margin-top: 30px; margin-left: 0x; margin-right: 0px;">
                                    <h1 class="enrollment-header" style="font-weight: 300; color: white; font-size: 24px;">Choose Auto Delivery &nbsp;&nbsp;<small style="color:white; font-weight: 300"></small></h1>
                                </div>
                                <div class="col-xs-12" style="padding: 0px;">
                                    <div class="col-xs-12 card" style="height: 250px; background: rgba(124,189,49,0.8);">
                                        <h1 align="center" style="font-weight: 300; color:white;">Auto Delivery</h1>
                                        <div align="center">
                                            <button data-toggle="tab" href="#four" ng-click="selectTab('four')" style="background:rgb(124,189,49); color:white; padding: 12px; " type="button" class="btn btn-success">CONTINUE</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="four" class="tab-pane fade" ng-if="selectedTab == 'four' ">
                            <div class="col-xs-1">
                            </div>
                            <div class="col-xs-10" style="padding: 0px;">
                                <div class="col-xs-12" style="background: rgb(25,50,61); height: 70px; padding: 10px; margin-top: 30px; margin-left: 0x; margin-right: 0px;">
                                    <h1 class="enrollment-header" style="font-weight: 300; color: white; font-size: 24px;">Summary &nbsp;&nbsp;<small style="color:white; font-weight: 300"></small></h1>
                                </div>
                                <div class="col-xs-12" style="padding: 0px;">
                                    <div class="col-xs-12 card" style="height: 250px; background: rgba(124,189,49,0.8);">
                                        <h1 align="center" style="font-weight: 300; color:white;">Summary</h1>
                                        <div align="center">
                                            <h1 style="color:white" align="center">ELite Business Builder Pack</h1>
                                            <h3 style="color:white" class="hidden-xs">HK $ 19,250.00</h3>
                                            <button data-toggle="tab" href="#five" ng-click="selectTab('five')" style="background:rgb(124,189,49); color:white; padding: 12px; " type="button" class="btn btn-success">CONTINUE</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="five" class="tab-pane fade" ng-if="selectedTab == 'five' ">
                            <div class="col-xs-1">
                            </div>
                            <div class="col-xs-10" style="padding: 0px;">
                                <div class="col-xs-12" style="background: rgb(25,50,61); height: 70px; padding: 10px; margin-top: 30px; margin-left: 0x; margin-right: 0px;">
                                    <h1 class="enrollment-header" style="font-weight: 300; color: white; font-size: 24px;">Checkout &nbsp;&nbsp;<small style="color:white; font-weight: 300"></small></h1>
                                </div>
                                <div class="col-xs-12" style="padding: 0px;">
                                    <div class="col-xs-12 card" style="height: 250px; background: rgba(124,189,49,0.8);">
                                        <h1 align="center" style="font-weight: 300; color:white;">Checkout</h1>
                                        <div align="center">
                                            <h1 style="color:white" align="center">ELite Business Builder Pack</h1>
                                            <h3 style="color:white" class="hidden-xs">HK $ 19,250.00</h3>
                                            <button style="background:rgb(124,189,49); color:white; padding: 12px; " type="button" class="btn btn-success" ng-click="goto(3)">CHECKOUT</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div id="five`" class="tab-pane fade" ng-if="selectedTab == 'five' ">
                            <span>5</span>
                        </div> -->
                    </div>
                </div>
                <!--  <h2 class="enrollment-header">Choose Your Pack</h2> -->
            </div>
            <div class="container" ng-if="selectedSection == 3">
                <div class="row" style="margin-top: 20px;">
                    <div class="col-xs-12">
                        <h1 class="enrollment-header">CONGRATULATIONS</h1>
                        <p>
                            Your order was placed successfully. Your Nerium product(s) will process and ship soon. However any marketing materials ordered will process and ship in early March. You can use the Marketing Center in your back office until your marketing material arrives. For more information about your order please log into your Account Center.
                            <br>
                            <br>
                            <br> A copy of the order confirmation has been sent to your email account hello@cygrp.com
                            <br>
                            <br>
                            <br> Welcome to Nerium Family
                            <br>
                            <br>
                            <br>
                        </p>
                    </div>
                    <div class="col-xs-12 card">
                        <div class="col-xs-12">
                            <h1 class="enrollment-header">ORDER CONFIRMATION: #16456087</h1>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <h1 class="enrollment-header">Order Details</h1>
                            <p>Elite Business Builder Pack</p>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <h1 class="enrollment-header">Shipping Details</h1>
                            <p>Welcome to Nerium Family, Your order was placed successfully. Your Nerium product(s) will process and ship soon. However any marketing materials ordered will process and ship in early March. You can use the Marketing Center in your back office until your marketing material arrives. For more information about your order please log into your Account Center.</p>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <h1 class="enrollment-header">Payment Details</h1>
                            <p>Cyber Group Inc</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>