<nav class="navbar navbar-default nav-fixed-top" role="navigation" style="height: 60px; background: white;">
    <div class="">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img height="50" src="images/logo2.png"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" style="background: white!important">
            <div class="nav navbar-nav navbar-right" role="form">
                <!-- <li><a href="#">Today's Deals</a></li>
                <li><a href="#">Women</a></li>
                <li><a href="#">Men</a></li> -->
            </div>
        </div>
        <div class="col-xs-12" style="background: #D50B3B; padding: 0px; height: 55px; margin-top: 10px;">
            <h5 align="center" style="color:white; padding-top:10px;">This website is a POC and is created just for the purpose of a DEMO</h5>
        </div>
</nav>